In [1]:
import mysql.connector
import pandas as pd

# Establishing the connection
con = mysql.connector.connect(
    host="dbcp.cry66wamma47.ap-south-1.rds.amazonaws.com",
    port=3306,
    user="yogass09",
    password="jaimaakamakhya",
    database="dbcp"
)

# Executing the query and fetching the results directly into a pandas DataFrame
query = "SELECT * FROM crypto_listings_latest"
crypto_listings_latest = pd.read_sql_query(query, con)

# Closing the connection
con.close()

C:\Users\Pranav Darekar\AppData\Local\Temp\ipykernel_19068\3109873822.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  crypto_listings_latest = pd.read_sql_query(query, con)

In [2]:

# Sorting the DataFrame by the 'cmc_rank' column in ascending order
crypto_listings_latest_sorted = crypto_listings_latest.sort_values(by='cmc_rank')

# Filtering for the top 1000 cmc_rank
top_1000_cmc_rank = crypto_listings_latest_sorted.head(1000)

In [3]:
# Saving the filtered DataFrame to a CSV file
crypto_listings_latest_sorted.to_csv('crypto_listings_latest_sorted', index=False)
top_1000_cmc_rank.to_csv('top_1000_cmc_rank.csv', index=False)

In [4]:
con = mysql.connector.connect(
    host="dbcp.cry66wamma47.ap-south-1.rds.amazonaws.com",
    port=3306,
    user="yogass09",
    password="jaimaakamakhya",
    database="dbcp"
)

In [5]:
# Getting a list of all unique values under the 'slug' column
slug_list = top_1000_cmc_rank['slug'].unique().tolist()

# Constructing the SQL query to fetch data for the specific slugs
placeholders = ', '.join(['%s'] * len(slug_list))
query = f"SELECT * FROM all_coins_ohlcv WHERE slug IN ({placeholders})"

# Executing the query and fetching the results directly into a pandas DataFrame
all_coins_ohlcv_filtered = pd.read_sql_query(query, con, params=slug_list)

all_coins_ohlcv_filtered.to_csv('all_coins_ohlcv_filtered', index=False)

# Displaying the DataFrame (optional)
print("Filtered all_coins_ohlcv DataFrame:")

C:\Users\Pranav Darekar\AppData\Local\Temp\ipykernel_19068\528456090.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  all_coins_ohlcv_filtered = pd.read_sql_query(query, con, params=slug_list)

Filtered all_coins_ohlcv DataFrame:

In [6]:
all_coins_ohlcv_filtered.head()

,id,slug,name,symbol,timestamp,ref_cur_id,ref_cur_name,time_open,time_close,time_high,time_low,open,high,low,close,volume,market_cap
0,9481.0,pendle,Pendle,PENDLE,2023-09-17 23:59:59,2781.0,USD,2023-09-17,2023-09-17 23:59:59,2023-09-17 00:00:00,2023-09-17 20:59:00,0.624307,0.624307,0.590203,0.596454,7369159.98,1.399793e+08
1,9481.0,pendle,Pendle,PENDLE,2023-09-18 23:59:59,2781.0,USD,2023-09-18,2023-09-18 23:59:59,2023-09-18 15:49:00,2023-09-18 00:40:00,0.596502,0.619253,0.586936,0.604777,11389710.98,1.419325e+08
2,9481.0,pendle,Pendle,PENDLE,2023-09-19 23:59:59,2781.0,USD,2023-09-19,2023-09-19 23:59:59,2023-09-19 15:37:00,2023-09-19 01:04:00,0.604753,0.649988,0.599616,0.647136,14912251.30,1.518734e+08
3,9481.0,pendle,Pendle,PENDLE,2023-09-20 23:59:59,2781.0,USD,2023-09-20,2023-09-20 23:59:59,2023-09-20 23:50:00,2023-09-20 00:58:00,0.647096,0.668531,0.641118,0.668272,14171323.00,1.568338e+08
4,9481.0,pendle,Pendle,PENDLE,2023-09-21 23:59:59,2781.0,USD,2023-09-21,2023-09-21 23:59:59,2023-09-21 00:59:00,2023-09-21 11:01:00,0.668207,0.677058,0.643393,0.646811,15197352.29,1.517971e+08